extends ../layout.pug

block content
  div(class='breadcrumb')
    div= title
  div.list-group
    div.list-group-item
      span(class='list-icon glyphicon glyphicon-briefcase')
      a(href='/customer') Customers
    div.list-group-item
      span(class='list-icon glyphicon glyphicon-briefcase')
      a(href='/project') Projects
    div.list-group-item
      span(class='list-icon glyphicon glyphicon-briefcase')
      a(href='/perfomer') Perfomers  
    div.list-group-item
      span(class='list-icon glyphicon glyphicon-briefcase')
      a(href='/doingProject') Doing Projects    